<a href="https://colab.research.google.com/github/NodirYunusov/yunusov99/blob/main/05_ml_05_amaliyot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## 5-MODUL. Machine Learning

### Portfolio uchun vazifa: Toshkent shahrida uylarning narxini aniqlash.

Ushbu amaliyotda sizning vazifangiz berilgan ma`lumotlar asosida Toshkent shahridagi uylarning narxini aniqlash.

In [112]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/housing_data_08-02-2021.csv')
df.head()

,location,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57,4,4,52000
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52,4,5,56000
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42,4,4,37000
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65,1,4,49500
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70,3,5,55000

In [113]:
df.replace('Договорная', 35000, inplace = True)

# Ustunlar ta'rifi
- `location` - sotilayotgan uy manzili
- `district` - uy joylashgan tuman
- `rooms` - xonalar soni
- `size` - uy maydoni (kv.m)
- `level` - uy joylashgan qavat
- `max_levels` - ja'mi qavatlar soni
- `price` - uy narxi

## Vazifani CRSIP-DM Metolodgiyasi yordamida bajaring.
<img src="https://i.imgur.com/dzZnnYi.png" alt="CRISP-DM" width="800"/>

In [114]:
import sklearn

df[df['size'] == 'Площадьземли:1сот'].index
df.drop([5347], inplace = True)

from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df, test_size = 0.2, random_state = 35)

x_train = train_set.drop('price', axis = 1)
y = train_set['price'].copy()
x_num = x_train.drop(['location', 'district'], axis = 1)

from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler

num_pipeline= Pipeline([
    ('imputer', SimpleImputer(strategy = 'median')),
    ('std_scaler', StandardScaler())
])

from sklearn.compose import ColumnTransformer
num_attribs = list(x_num)
cat_attribs = ['location', 'district']

full_pipeline = ColumnTransformer([
    ('num', num_pipeline, num_attribs),
    ('cat', OneHotEncoder(), cat_attribs)
    ])

x_prapared = full_pipeline.fit_transform(x_train)

In [115]:
from sklearn.linear_model import LinearRegression

LR_model = LinearRegression()

LR_model.fit(x_prapared, y)
LinearRegression()

LinearRegression()

In [116]:
test_data = x_train.sample(10)
test_data

,location,district,rooms,size,level,max_levels
612,"город Ташкент, Чиланзарский район, Аль-Хорезми-2",Чиланзарский,3,90,1,9
4074,"город Ташкент, Мирзо-Улугбекский район, Буз-1 ...",Мирзо-Улугбекский,2,55,5,5
2091,"город Ташкент, Мирабадский район, ЦУМ (Ц-7)",Мирабадский,3,125,4,9
222,"город Ташкент, Яккасарайский район, Бабура",Яккасарайский,1,55,1,12
4469,"город Ташкент, Мирзо-Улугбекский район, Хумаюн",Мирзо-Улугбекский,2,55,2,4
4350,"город Ташкент, Олмазорский район, Мэдгоролок",Олмазорский,3,145,1,4
918,"город Ташкент, Чиланзарский район, Чиланзар кв...",Чиланзарский,3,75,2,9
101,"город Ташкент, Чиланзарский район, Чиланзар 1-...",Чиланзарский,2,48,2,5
5341,"город Ташкент, Мирабадский район, Янгизамон",Мирабадский,3,65,1,2
150,"город Ташкент, Шайхантахурский район, 1-й прое...",Шайхантахурский,1,38,5,5

In [117]:
y_labels = y.loc[test_data.index]

In [119]:
test_data_prepared = full_pipeline.transform(test_data)

In [120]:
predicted_data = LR_model.predict(test_data_prepared)

In [121]:
pd.DataFrame({'Prognoz' : predicted_data, 'real baxosi' : y_labels})

            Prognoz real baxosi
612    64053.164067       65000
4074   29888.053633       35000
2091  119316.558112      130000
222    59967.504725       50533
4469   26039.631636       35000
4350   94990.794766       95000
918    67333.703038       47500
101    45625.907193       41500
5341   67515.512281       48000
150    25934.483681       22500